trigger: none

pool: sh-app-delivery-pool

stages:
  - stage: Scan
    displayName: Scan Dotnet
    jobs:
      - job: UnitTesting
        displayName: Unit Testing

        steps:
          - task: UseDotNet@2
            displayName: Install .Net SDK
            inputs:
              packageType: 'sdk'
              version: '8.0.x'

          - task: DotNetCoreCLI@2
            displayName: Test .Net
            inputs:
              command: test
              projects: '**/*.csproj'
              arguments: '--logger trx'
