trigger: none

pool: sh-app-delivery-pool

stages:
  - stage: Test
    displayName: Scan Dotnet
    jobs:
      - job: UnitTesting
        displayName: Unit Testing

        steps:
          - task: UseDotNet@2
            displayName: Install .Net SDK
            inputs:
              packageType: 'sdk'
              version: '8.0.x'

          - task: DotNetCoreCLI@2
            displayName: Test .Net
            inputs:
              command: test
              projects: '**/*.csproj'
              arguments: '--logger trx'

  - stage: Build
    displayName: Build DotNet

    jobs:
      - job: BuildDotNet
        displayName: Build .Net App
        steps:
          - task: UseDotNet@2
            displayName: Install .Net SDK
            inputs:
              version: '8.0.x'
              packageType: 'sdk'
          - task: DotNetCoreCLI@2
            displayName: Restore
            inputs:
              command: restore
              projects: '**/*.csproj'
          - task: DotNetCoreCLI@2
            inputs:
              command: build
              projects: '**/*.csproj'