name: .Net CICD Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: elearn_db
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping - h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Install Frontend Dependencies
      working-directory:
      run: npm install

    - name: Run frontend tests
      working-directory:
      run: npm test -- --watchAll=false

    - name: Build Frontend
      working-directory:
      run: npm run build

    - name: Setup .Net
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore Backend Dependencies
      working-directory:
      run: dotnet restore

    - name: Build .Net (Backend)
      working-directory:
      run: dotnet build --configuration Release --no-restore

    - name: Run .Net Tests
      working-directory:
      env:
        connectionStrings_DefaultConnection: "Server=mysql;Database=elearn_db;User=root;Password=root;"
      run: dotnet test --no-build --verbosity normal

  build-push-to-acr:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
